@use 'variables.scss';

.about{
    max-width: 1250px;
    height: 100vh;
    padding: 0 25px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .card{
        background-color: variables.$bg-secondary;
        padding: 2rem;
        border-radius: 6px;
        border: 2px solid variables.$bg-border;
        display: flex;
        align-items: center;
        justify-content: center;

        &__left{
            max-width: 500px;
            img{
                max-width: 500px;
                border-radius: 4px;
            }
        }

        &__right{
            margin-left: 2rem;

            .hashtag{
                color: variables.$color-main;
                font-size: 1.25rem;
                font-weight: 500;
            }

            .name{
                color: variables.$color-white;
                font-weight: 500;
                font-size: 2rem;
                margin-top: 0.5rem;
            }

            .sub{
                color: variables.$color-white;
                font-weight: 400;
                font-size: 1.25rem;
                margin-top: 0.5rem;
            }

            .description{
                margin-top: 1rem;
                font-size: 1.25rem;
                line-height: 140%;
                color: variables.$color-gray;
                font-weight: 400;
            }

            .medias{
                display: flex;
                align-items: center;
                margin-top: 2rem;
                gap: 1rem;

                a{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: variables.$bg-secondary;
                    width: 4rem;
                    height: 4rem;
                    border-radius: 6px;
                    border: 2px solid variables.$bg-border;
                    text-decoration: none;
                    transition: .4s;

                    &:hover{
                        border-color: variables.$color-main;
                    }


                    i{
                        color: variables.$color-main;
                        font-size: 1.75rem;
                    }
                }
            }

        }
    }

    @media(max-width: 1100px){
        .card{
            flex-direction: column;
            gap: 2rem;
            max-height: 95vh;
            padding: 1rem;

            &__left{
                max-width: 100%;
                max-height: 500px;
                overflow: hidden;
                
    
                img{
                    max-width: 100%;
                }
            }

            &__right{
                margin-left: 0;
            }
        }

    }
    @media(max-width: 800px){
        .card{
            &__right{
                margin-left: 0;

                .hashtag{
                    font-size: 1rem;
                }

                .name{
                    font-size: 1.75rem;
                }

                .sub{
                    font-size: 1rem;
                }

                .description{
                    font-size: 1rem;
                }
            }
        }

    }

}

