@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');

$color-main: #986dff;
$color-white: #ffffff;
$color-gray: #c6c6c6;
$bg-header: rgb(4, 6, 21, .7);
$bg-main: #040615;
$bg-secondary: #0c0b16;
$bg-border: #17161f;

$font: "epilogue"; 
